<header>
    <h1>
        {{title}}
        <img src="/img/weather-app-icon.png" alt="" id="logo">
    </h1>
    <a href="/">Weather</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
</header>